@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth !important;
}

body{
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}


/* animation for About Section text */

.text-animation {
    white-space: nowrap;
    border-right: 2px solid rgb(151, 149, 149);
    animation: typing 4s steps(17, end) infinite, blinkCursor 1s infinite;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 17ch;
    }
    80% {
        width: 17ch;
      }
    100% {
      width: 0;
    }
  }
  
  @keyframes blinkCursor {
    50% {
      border-color: transparent;
    }
  }
  